@charset "UTF-8";

/* Todas as versões de midia */

/*Typical Device Breakpoints
--------------------------------

pequenas telas: até 600px
celulares: 600px a 768px
tablets: 768px até 992px
desktops: 992px até 1200px
grandes desktops: acima de 1200px
*/

@media print{ /* versão para impressão */
    *{
        font-family: 'Courier New', Courier, monospace;
    }
body{
    background-image: url(../imagens/back-print.jpg); /* desnecessario*/
}

main{
    width: 90vw;
    border: 2px solid black;
}

main::after{
    content: 'Essa impressão foi gerada pelo site www.vitorsantos.com';
    text-decoration: overline;
}

main h1{
    color: black;
    text-shadow: none;
}
   
img#phone{display: none;}
img#tablet{display: none;}
img#print{display: block;}
img#pc{display: none;}
img#tv{display: none;}
}

@media screen and (min-width: 768px) and (max-width:992px) { /* tablets*/
   
    body{
        background-image: url(../imagens/back-tablet.jpg);
       
    }

    main{
        width: 700px;
    }
    
img#phone{display: none;}
img#tablet{display: block;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width:1200px) { /* desktop*/
   body{
    background-image: url(../imagens/back-pc.jpg);
   }

   
    main{
        width: 850px;
    }
    
img#phone{display: none;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: block;}
img#tv{display: none;}
}

@media screen and (min-width: 1200px) { /* telas grandes*/
   body{
    background-image: url(../imagens/back-tv.jpg);
   }

 
    
img#phone{display: none;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: block;}
}
